header{
    background-color: rgb(106, 98, 128);
    padding-top: 20px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    padding-left: 30px; 
    padding-right: 30px;
    align-items: center;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.yeva{
    width: 480px;
    height: 50px; outline: none;
    background-color: rgb(58, 42, 74); color: rgb(255, 255, 255);
}
.input__container{
    position: relative; margin-top: 50px;
    margin-left: 50px;
}
.yuva{
    position: absolute;
    left: 20px;
    top: 16px;
}
input::placeholder{
    color: antiquewhite;
    text-align: center;
}
.maindiv{
    background-color: rgb(44, 29, 59); 
    padding-bottom: 100px;
    
}
tr{
  width: 260px;
  height: 180px;

}
.small{
    width: 260px;
    height: 100px;
    background-color: rgb(74, 69, 74);
    padding-top: 40px;
   
}
.card{
    width: 260px;
    height: 330px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
   align-items: center;
 padding-bottom: 20px;
}
.grid__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    padding-top: 50px;
    padding-left: 100px;
}
@media screen and (max-width:1430px) {
    .grid__container{
        gap: 55px;
    }
}
@media screen and (max-width:1350px) {
    .grid__container{
        gap: 30px;
        margin-right: 100px;
    }
}
@media screen and (max-width:1240px) {
    .tr{
        width: 240px;
        height: 140px;
    }
    .small{
        width: 210px;
        height: 70px; 
        padding-top: 20px;
    }
    .grid__container{
        
        gap: 20px;
        margin-right: 60px;
    }
    .maindiv{
        padding-bottom: 430px;
    }
    h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 1190px) {
    .tr{
        width: 190px;
        height: 100px;
    }
    .small{
        width: 150px;
        height: 60px;
    }
    .grid__container{
        margin-right: 200px;
        gap: 12px;
        margin-right: 100px;
    }
    .maindiv{
       padding-bottom: 20px;
       
        
    }
    h1{
        font-size: 25px;
    }
    .card{
        width: 190px;
        height: 260px;
    }
}
@media screen and (max-width: 905px) {
    .grid__container{
        grid-template-columns: 1fr 1fr;
        margin-left: 100px;
    }
    
}
@media screen and (max-width:700px) {
    .grid__container{
        margin-left: 50px;
        grid-area: 20px;
    }
    .input__container{
        margin-left: 120px;
    }
}
@media screen and (max-width:600px) {
    .grid__container{
        grid-template-columns: 1fr;
    }
.input__container{
    margin-left: 0px;
    width: auto;
/* display: none; */
}
input{
    width: auto;
}
}
@media screen and (max-width:470px) {
    .input__container{
       display: none;
    }
}